@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .prose {
    color: theme(colors.zinc.700);
  }

  .dark .prose {
    color: theme(colors.zinc.300);
  }

  .prose a {
    @apply text-emerald-600 hover:text-emerald-700 dark:text-emerald-400 dark:hover:text-emerald-300 no-underline;
  }
}

